rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /Mail/{mailId} {
      allow read: if false;
      allow update: if false;
      allow delete: if false;
      allow create: if true;
    }
    match /Commission/{commissionId} {
      allow read: if false;
      allow update: if false;
      allow delete: if false;
      allow create: if true;
    }
    match /Test/{testId} {
      allow read: if false;
      allow update: if false;
      allow delete: if false;
      allow create: if true;
    }
  }
}