#landingContainer{
    background-color: #D6F0FD;
    padding: 60px 0px 0px 0px;
    min-height: 93vh;
}

#heroContainer{
    background-image: url('../Images/header.jpg');
    height: 700px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#titleContainer{
    padding: 100px 20px 20px 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 30%;
}

.sectionContainer{
    padding: 150px 50px 50px 50px;
    display: flex;
    justify-content: space-between;
}

.smaller-image{
    width: 80% !important;
}

.textContainer{
    width: 49%;
    padding: 0px 30px;
}

.imageContainer{
    width: 49%;
    padding: 0px 30px;
}

.imageContainer img{
    width: 100%;
}

#title-hero{
    font-size: 45px;
}

#research-container{
    border: 1px solid #f57070;
    border-radius: 5px;
    padding: 20px;
}

#research-container p{
    font-weight: bold;
}

#commission-container{
    background-color: white;
    padding: 100px 50px;
}


#send-form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#home-cta-button{
    font-size: 18px;
    padding: 10px;
    margin-top: 50px;
}

#home-cta-button a{
    color: white;
    font-weight: 400;
}

@media only screen and (max-width: 1024px){

    .sectionContainer{
        padding: 50px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .imageContainer{
        width: 100%;
        padding-top: 30px;
        display: flex;
        justify-content: center;
    }

    .textContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        ul{
            text-align: left;
        }
    }

    .reversed-container{
        flex-direction: column-reverse;
    }

    #titleContainer{
        padding: 20px;
        width: 100%;
        background-color: #edf9fac2;

        h1{
            margin-top: 75px;
            font-size: 45px;
        }
    }
}

